<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{607,668},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,32}</string>
                <key>spriteSourceSize</key>
                <string>{66,32}</string>
                <key>textureRect</key>
                <string>{{593,732},{66,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{609,439}</string>
                <key>spriteSourceSize</key>
                <string>{609,439}</string>
                <key>textureRect</key>
                <string>{{1,1},{609,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,93}</string>
                <key>spriteSourceSize</key>
                <string>{575,93}</string>
                <key>textureRect</key>
                <string>{{612,1},{575,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,34}</string>
                <key>spriteSourceSize</key>
                <string>{155,34}</string>
                <key>textureRect</key>
                <string>{{168,578},{155,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{175,442},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{661,736},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,59}</string>
                <key>spriteSourceSize</key>
                <string>{126,59}</string>
                <key>textureRect</key>
                <string>{{1,442},{126,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,59}</string>
                <key>spriteSourceSize</key>
                <string>{126,59}</string>
                <key>textureRect</key>
                <string>{{62,442},{126,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,50}</string>
                <key>spriteSourceSize</key>
                <string>{122,50}</string>
                <key>textureRect</key>
                <string>{{123,442},{122,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,12}</string>
                <key>spriteSourceSize</key>
                <string>{153,12}</string>
                <key>textureRect</key>
                <string>{{86,762},{153,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,83}</string>
                <key>spriteSourceSize</key>
                <string>{199,83}</string>
                <key>textureRect</key>
                <string>{{1,578},{199,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,12}</string>
                <key>spriteSourceSize</key>
                <string>{153,12}</string>
                <key>textureRect</key>
                <string>{{388,769},{153,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,288}</string>
                <key>spriteSourceSize</key>
                <string>{401,288}</string>
                <key>textureRect</key>
                <string>{{204,442},{401,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{607,578},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,52}</string>
                <key>spriteSourceSize</key>
                <string>{145,52}</string>
                <key>textureRect</key>
                <string>{{241,732},{145,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,80}</string>
                <key>spriteSourceSize</key>
                <string>{182,80}</string>
                <key>textureRect</key>
                <string>{{86,578},{182,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,35}</string>
                <key>spriteSourceSize</key>
                <string>{69,35}</string>
                <key>textureRect</key>
                <string>{{388,732},{69,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{459,732},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,32}</string>
                <key>spriteSourceSize</key>
                <string>{66,32}</string>
                <key>textureRect</key>
                <string>{{664,668},{66,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,33}</string>
                <key>spriteSourceSize</key>
                <string>{65,33}</string>
                <key>textureRect</key>
                <string>{{526,732},{65,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TaskAtla.png</string>
            <key>size</key>
            <string>{706,785}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a3985d94fbc16084bed8b120f7d29ce:860e91cf1d4987c518a385fbc7bcbe51:5423cb192ddbaeda72f1e4c79310f888$</string>
            <key>textureFileName</key>
            <string>TaskAtla.png</string>
        </dict>
    </dict>
</plist>
