<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/election/electionEff_100000.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,386},{42,74}}</string>
				<key>offset</key>
				<string>{-152,67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_100001.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,872},{103,187}}</string>
				<key>offset</key>
				<string>{-122,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_100002.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,438},{157,209}}</string>
				<key>offset</key>
				<string>{-88,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_100003.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{161,209}}</string>
				<key>offset</key>
				<string>{-29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_100004.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,221},{161,209}}</string>
				<key>offset</key>
				<string>{31,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_100005.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,655},{156,209}}</string>
				<key>offset</key>
				<string>{90,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_100006.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,4},{98,179}}</string>
				<key>offset</key>
				<string>{122,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_100007.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,386},{39,42}}</string>
				<key>offset</key>
				<string>{152,-84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_200000.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,468},{38,69}}</string>
				<key>offset</key>
				<string>{-152,67}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_200001.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,4},{100,183}}</string>
				<key>offset</key>
				<string>{-121,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_200002.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,866},{154,203}}</string>
				<key>offset</key>
				<string>{-88,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_200003.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,4},{156,203}}</string>
				<key>offset</key>
				<string>{-29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_200004.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,215},{156,203}}</string>
				<key>offset</key>
				<string>{32,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_200005.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,215},{151,203}}</string>
				<key>offset</key>
				<string>{90,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_200006.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,819},{93,173}}</string>
				<key>offset</key>
				<string>{122,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_200007.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,983},{34,39}}</string>
				<key>offset</key>
				<string>{153,-82}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_300000.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,468},{39,69}}</string>
				<key>offset</key>
				<string>{-152,67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_300001.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,4},{100,183}}</string>
				<key>offset</key>
				<string>{-121,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_300002.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,426},{154,203}}</string>
				<key>offset</key>
				<string>{-88,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_300003.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,649},{157,203}}</string>
				<key>offset</key>
				<string>{-29,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_300004.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,655},{158,203}}</string>
				<key>offset</key>
				<string>{32,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_300005.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,215},{153,203}}</string>
				<key>offset</key>
				<string>{90,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_300006.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,637},{95,174}}</string>
				<key>offset</key>
				<string>{122,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_300007.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,983},{35,39}}</string>
				<key>offset</key>
				<string>{152,-82}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_400000.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,545},{39,69}}</string>
				<key>offset</key>
				<string>{-152,67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_400001.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,195},{100,183}}</string>
				<key>offset</key>
				<string>{-121,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_400002.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,4},{154,203}}</string>
				<key>offset</key>
				<string>{-88,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_400003.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,860},{157,203}}</string>
				<key>offset</key>
				<string>{-29,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_400004.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,438},{158,203}}</string>
				<key>offset</key>
				<string>{32,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_400005.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,426},{153,203}}</string>
				<key>offset</key>
				<string>{90,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_400006.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,637},{95,174}}</string>
				<key>offset</key>
				<string>{122,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
			<key>image/election/electionEff_400007.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,983},{35,39}}</string>
				<key>offset</key>
				<string>{152,-82}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{395,240}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>electionPlist.png</string>
			<key>realTextureFileName</key>
			<string>electionPlist.png</string>
			<key>size</key>
			<string>{817,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>817</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>