<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dl_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,51}</string>
                <key>spriteSourceSize</key>
                <string>{31,51}</string>
                <key>textureRect</key>
                <string>{{470,1},{31,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,296}</string>
                <key>spriteSourceSize</key>
                <string>{467,296}</string>
                <key>textureRect</key>
                <string>{{1,1},{467,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,86}</string>
                <key>spriteSourceSize</key>
                <string>{266,86}</string>
                <key>textureRect</key>
                <string>{{1,387},{266,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dl_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,87}</string>
                <key>spriteSourceSize</key>
                <string>{265,87}</string>
                <key>textureRect</key>
                <string>{{270,299},{265,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dl_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,86}</string>
                <key>spriteSourceSize</key>
                <string>{267,86}</string>
                <key>textureRect</key>
                <string>{{1,299},{267,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LoginAtla.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b820ab510cecc5b75f7a839e1ac7ce04:56a4af06140c800863970e675b1e4f56:3ec0da2da8431be0dc4fcc57aaf7f44b$</string>
            <key>textureFileName</key>
            <string>LoginAtla.png</string>
        </dict>
    </dict>
</plist>
