<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>js_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{853,285},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,55}</string>
                <key>spriteSourceSize</key>
                <string>{53,55}</string>
                <key>textureRect</key>
                <string>{{851,1},{53,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,96}</string>
                <key>spriteSourceSize</key>
                <string>{109,96}</string>
                <key>textureRect</key>
                <string>{{374,315},{109,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_03a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,96}</string>
                <key>spriteSourceSize</key>
                <string>{109,96}</string>
                <key>textureRect</key>
                <string>{{747,187},{109,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{872,178},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{780,298},{72,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,117}</string>
                <key>spriteSourceSize</key>
                <string>{242,117}</string>
                <key>textureRect</key>
                <string>{{1,189},{242,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,23}</string>
                <key>spriteSourceSize</key>
                <string>{43,23}</string>
                <key>textureRect</key>
                <string>{{872,256},{43,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,33}</string>
                <key>spriteSourceSize</key>
                <string>{157,33}</string>
                <key>textureRect</key>
                <string>{{620,152},{157,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,33}</string>
                <key>spriteSourceSize</key>
                <string>{82,33}</string>
                <key>textureRect</key>
                <string>{{779,152},{82,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{124,308},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{92,92}</string>
                <key>textureRect</key>
                <string>{{607,307},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,25}</string>
                <key>spriteSourceSize</key>
                <string>{51,25}</string>
                <key>textureRect</key>
                <string>{{863,151},{51,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_13_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,25}</string>
                <key>spriteSourceSize</key>
                <string>{52,25}</string>
                <key>textureRect</key>
                <string>{{780,372},{50,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_13_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,25}</string>
                <key>spriteSourceSize</key>
                <string>{48,25}</string>
                <key>textureRect</key>
                <string>{{853,340},{48,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_13_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,25}</string>
                <key>spriteSourceSize</key>
                <string>{96,25}</string>
                <key>textureRect</key>
                <string>{{845,187},{96,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,74}</string>
                <key>spriteSourceSize</key>
                <string>{226,74}</string>
                <key>textureRect</key>
                <string>{{623,1},{226,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,73}</string>
                <key>spriteSourceSize</key>
                <string>{223,73}</string>
                <key>textureRect</key>
                <string>{{620,77},{223,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,77}</string>
                <key>spriteSourceSize</key>
                <string>{81,77}</string>
                <key>textureRect</key>
                <string>{{701,307},{81,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,113}</string>
                <key>spriteSourceSize</key>
                <string>{125,113}</string>
                <key>textureRect</key>
                <string>{{381,188},{125,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,111}</string>
                <key>spriteSourceSize</key>
                <string>{121,111}</string>
                <key>textureRect</key>
                <string>{{1,308},{121,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,114}</string>
                <key>spriteSourceSize</key>
                <string>{132,114}</string>
                <key>textureRect</key>
                <string>{{247,188},{132,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,118}</string>
                <key>spriteSourceSize</key>
                <string>{131,118}</string>
                <key>textureRect</key>
                <string>{{496,187},{131,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{116,118}</string>
                <key>textureRect</key>
                <string>{{629,187},{116,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,115}</string>
                <key>spriteSourceSize</key>
                <string>{127,115}</string>
                <key>textureRect</key>
                <string>{{245,304},{127,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,116}</string>
                <key>spriteSourceSize</key>
                <string>{127,116}</string>
                <key>textureRect</key>
                <string>{{491,69},{127,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,117}</string>
                <key>spriteSourceSize</key>
                <string>{242,117}</string>
                <key>textureRect</key>
                <string>{{247,69},{242,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,96}</string>
                <key>spriteSourceSize</key>
                <string>{109,96}</string>
                <key>textureRect</key>
                <string>{{496,307},{109,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{872,217},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,71}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{845,77},{72,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>js_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,118}</string>
                <key>spriteSourceSize</key>
                <string>{244,118}</string>
                <key>textureRect</key>
                <string>{{1,69},{244,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>js_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,66}</string>
                <key>spriteSourceSize</key>
                <string>{620,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{620,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CloseAcountAtla.png</string>
            <key>size</key>
            <string>{917,420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f6c48ec21eceefbbe93c42f66016405:8d591888a073d3b8d94f266e4735c527:f89b0eec87ab28ec523ed7963092b6bd$</string>
            <key>textureFileName</key>
            <string>CloseAcountAtla.png</string>
        </dict>
    </dict>
</plist>
