<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>phb (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{974,86},{91,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,35}}</string>
                <key>sourceSize</key>
                <string>{91,35}</string>
            </dict>
            <key>phb (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{91,874},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>phb (11).png</key>
            <dict>
                <key>frame</key>
                <string>{{904,308},{581,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,60}}</string>
                <key>sourceSize</key>
                <string>{581,60}</string>
            </dict>
            <key>phb (12).png</key>
            <dict>
                <key>frame</key>
                <string>{{966,316},{581,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,56}}</string>
                <key>sourceSize</key>
                <string>{581,56}</string>
            </dict>
            <key>phb (13).png</key>
            <dict>
                <key>frame</key>
                <string>{{537,779},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>phb (14).png</key>
            <dict>
                <key>frame</key>
                <string>{{615,779},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>phb (15).png</key>
            <dict>
                <key>frame</key>
                <string>{{693,779},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>phb (16).png</key>
            <dict>
                <key>frame</key>
                <string>{{537,168},{609,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,365}}</string>
                <key>sourceSize</key>
                <string>{609,365}</string>
            </dict>
            <key>phb (17).png</key>
            <dict>
                <key>frame</key>
                <string>{{211,874},{577,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,52}}</string>
                <key>sourceSize</key>
                <string>{577,52}</string>
            </dict>
            <key>phb (18).png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{871,534}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{871,534}}</string>
                <key>sourceSize</key>
                <string>{871,534}</string>
            </dict>
            <key>phb (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{1,874},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>phb (20).png</key>
            <dict>
                <key>frame</key>
                <string>{{121,874},{54,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,28}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>phb (21).png</key>
            <dict>
                <key>frame</key>
                <string>{{60,874},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>phb (22).png</key>
            <dict>
                <key>frame</key>
                <string>{{904,203},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>phb (23).png</key>
            <dict>
                <key>frame</key>
                <string>{{904,238},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>phb (24).png</key>
            <dict>
                <key>frame</key>
                <string>{{904,168},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>phb (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{972,248},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>phb (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{904,273},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>phb (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{973,179},{67,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,33}}</string>
                <key>sourceSize</key>
                <string>{67,33}</string>
            </dict>
            <key>phb (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1},{199,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,83}}</string>
                <key>sourceSize</key>
                <string>{199,83}</string>
            </dict>
            <key>phb (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{790,86},{182,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,80}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>phb (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{151,874},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
            <key>phb (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{181,874},{53,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,28}}</string>
                <key>sourceSize</key>
                <string>{53,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>phb.png</string>
            <key>size</key>
            <string>{1024,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb6095867c61611673bde96494b288c3:1afd52bac41955156c2b88c7d40dabc2:092b18378db35d2470b8eb5687487b4f$</string>
            <key>textureFileName</key>
            <string>phb.png</string>
        </dict>
    </dict>
</plist>
