<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xc_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,60}</string>
                <key>spriteSourceSize</key>
                <string>{56,60}</string>
                <key>textureRect</key>
                <string>{{0,102},{56,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,51}</string>
                <key>spriteSourceSize</key>
                <string>{185,51}</string>
                <key>textureRect</key>
                <string>{{0,50},{185,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,51}</string>
                <key>spriteSourceSize</key>
                <string>{226,51}</string>
                <key>textureRect</key>
                <string>{{504,50},{226,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,51}</string>
                <key>spriteSourceSize</key>
                <string>{185,51}</string>
                <key>textureRect</key>
                <string>{{185,50},{185,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,50}</string>
                <key>spriteSourceSize</key>
                <string>{151,50}</string>
                <key>textureRect</key>
                <string>{{700,0},{151,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,62}</string>
                <key>spriteSourceSize</key>
                <string>{53,62}</string>
                <key>textureRect</key>
                <string>{{56,102},{53,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,97}</string>
                <key>spriteSourceSize</key>
                <string>{384,97}</string>
                <key>textureRect</key>
                <string>{{441,102},{384,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,51}</string>
                <key>spriteSourceSize</key>
                <string>{134,51}</string>
                <key>textureRect</key>
                <string>{{370,50},{134,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,210}</string>
                <key>spriteSourceSize</key>
                <string>{346,210}</string>
                <key>textureRect</key>
                <string>{{0,409},{346,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,75}</string>
                <key>spriteSourceSize</key>
                <string>{186,75}</string>
                <key>textureRect</key>
                <string>{{177,102},{186,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,48}</string>
                <key>spriteSourceSize</key>
                <string>{53,48}</string>
                <key>textureRect</key>
                <string>{{468,0},{53,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,47}</string>
                <key>spriteSourceSize</key>
                <string>{57,47}</string>
                <key>textureRect</key>
                <string>{{281,0},{57,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,38}</string>
                <key>spriteSourceSize</key>
                <string>{225,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{225,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{521,0},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,39}</string>
                <key>spriteSourceSize</key>
                <string>{56,39}</string>
                <key>textureRect</key>
                <string>{{225,0},{56,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{109,102},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{363,102},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,48}</string>
                <key>spriteSourceSize</key>
                <string>{130,48}</string>
                <key>textureRect</key>
                <string>{{338,0},{130,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,209}</string>
                <key>spriteSourceSize</key>
                <string>{345,209}</string>
                <key>textureRect</key>
                <string>{{0,199},{345,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,50}</string>
                <key>spriteSourceSize</key>
                <string>{133,50}</string>
                <key>textureRect</key>
                <string>{{567,0},{133,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,210}</string>
                <key>spriteSourceSize</key>
                <string>{346,210}</string>
                <key>textureRect</key>
                <string>{{345,199},{346,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,52}</string>
                <key>spriteSourceSize</key>
                <string>{135,52}</string>
                <key>textureRect</key>
                <string>{{730,50},{135,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xc_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,210}</string>
                <key>spriteSourceSize</key>
                <string>{346,210}</string>
                <key>textureRect</key>
                <string>{{346,409},{346,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>roomselectAtla.png</string>
            <key>size</key>
            <string>{865,619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aadb7f23d348f20b5fcc986c68a3dc1:ae3cfb81e1be856a53cccac7d0fe9995:15fd644242767c65c39c42174f1dc8c6$</string>
            <key>textureFileName</key>
            <string>roomselectAtla.png</string>
        </dict>
    </dict>
</plist>
