<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,889},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,57}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,416},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,539},{609,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,422}}</string>
                <key>sourceSize</key>
                <string>{609,422}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,539},{181,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,205}}</string>
                <key>sourceSize</key>
                <string>{181,205}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,807},{151,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,89}}</string>
                <key>sourceSize</key>
                <string>{151,89}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1},{145,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,52}}</string>
                <key>sourceSize</key>
                <string>{145,52}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,148},{145,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,52}}</string>
                <key>sourceSize</key>
                <string>{145,52}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,552},{100,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{100,114}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,668},{98,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,118}}</string>
                <key>sourceSize</key>
                <string>{98,118}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,788},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,722},{199,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,83}}</string>
                <key>sourceSize</key>
                <string>{199,83}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,807},{182,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,80}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{871,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{871,536}}</string>
                <key>sourceSize</key>
                <string>{871,536}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,295},{119,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,35}}</string>
                <key>sourceSize</key>
                <string>{119,35}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,484},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,889},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,889},{66,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,33}}</string>
                <key>sourceSize</key>
                <string>{66,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bb.png</string>
            <key>size</key>
            <string>{927,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36b7ce499a4176104de2b11ab47d50e:9c4db68d0a73edf3eb4296ef678f6883:02a1084775cf12393528d0b9c66af209$</string>
            <key>textureFileName</key>
            <string>bb.png</string>
        </dict>
    </dict>
</plist>
